In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("compiled.xlsx")

In [3]:
americas = ["AG", "AR", "BS", "BB", "BM", "BO", "BR", "BZ", "VG", "CA", "KY", "CL", "CO", "CR", "CU", "DM", "DO", "EC", "SV", "FK", "GF", "GL", "GD", "GP", "GT", "GY", "HT", "HN", "JM", "MQ", "MX", "MS", "CW", "AW", "SX", "BQ", "NI", "UM", "PA", "PY", "PE", "PR", "BL", "KN", "AI", "LC", "MF", "PM", "VC", "SR", "TT", "TC", "US", "VI", "UY", "VE"]
years = ["2022"]

In [4]:
americas_df = df[df['country'].isin(americas)]
americas_df = americas_df[americas_df["Year"] == 2022]
americas_df = americas_df[americas_df["Month"] != "JAN"]

In [5]:
americas_df.head()

,country,Predicted_Sector,average_tone,country_name,Month,Year
2947,AG,extractives & minerals processing,-0.276,Algeria,FEB,2022
2952,AR,extractives & minerals processing,0.658,Argentina,FEB,2022
2958,BB,extractives & minerals processing,-0.192,Barbados,FEB,2022
2966,BL,extractives & minerals processing,0.314,Bolivia,FEB,2022
2967,BM,extractives & minerals processing,-0.926,Myanmar (Burma),FEB,2022

In [6]:
americas_df.country.unique(), len(americas_df.country.unique())

(array(['AG', 'AR', 'BB', 'BL', 'BM', 'BO', 'BR', 'CA', 'CO', 'CU', 'CW',
        'DO', 'EC', 'GL', 'GP', 'GT', 'GY', 'JM', 'KN', 'MX', 'NI', 'PA',
        'PE', 'PM', 'SV', 'TT', 'US', 'UY', 'VC', 'VE', 'VI', 'BS', 'MF',
        'FK'], dtype=object),
 34)

In [7]:
americas_df["Month"] = americas_df.apply(lambda row: f"{row.Month.capitalize()}-22", axis = 1)
americas_df.drop(columns=["Year", "country_name", "Predicted_Sector"], inplace=True)
americas_df.rename(columns={"average_tone": "Tone - Extractives & Minerals", "country": "FIPS code"}, inplace=True)
americas_df.head()

     FIPS code  Tone - Extractives & Minerals   Month
2947        AG                         -0.276  Feb-22
2952        AR                          0.658  Feb-22
2958        BB                         -0.192  Feb-22
2966        BL                          0.314  Feb-22
2967        BM                         -0.926  Feb-22

In [8]:
americas_df.to_excel("compiled_blog_tone_data.xlsx")

In [9]:
len(americas_df)

249

In [13]:
# for c in americas_df["FIPS code"].unique():
#     l = len(americas_df[americas_df["FIPS code"] == c])
#     print(c, l)
#     if l < 8:
#         print()
#         print(americas_df[americas_df["FIPS code"] == c])
#         print()