In [22]:
import pandas as pd

In [23]:
#Read the csv file
tentative_list = pd.read_csv('tentative_list.csv')
world_heritage_sites = pd.read_csv('World Heritage Sites.csv')

In [24]:
# year_put_on_tentative_list keep only the year by using regex
tentative_list['year_put_on_tentative_list'] = tentative_list['year_put_on_tentative_list'].str.extract('(\d{4})', expand=False)

In [25]:
#Remove accents from name_en_new
tentative_list['name_en'] = tentative_list['name_en'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [26]:
#function to clean name_en_new
import re
def clean_string(string):
    # remove hyphens or dashes
    string = re.sub('[-]', ' ', string)
    # remove (*) and (#) from the string
    string = re.sub('\(\*\)|\(#\)', '', string)
    # remove leading/trailing whitespaces
    string = string.strip()
    # remove extra whitespaces between words
    string = re.sub('\s+', ' ', string)
    # remove non-alphanumeric characters except spaces and hyphens
    string = re.sub('[^0-9a-zA-Z\s-]', '', string)
    # convert to title case
    string = string.title()
    # return the cleaned string
    return string

#Apply the function to name_en_new
tentative_list['name_en'] = tentative_list['name_en'].apply(clean_string)

#Apply the function to name_en
world_heritage_sites['name_en'] = world_heritage_sites['name_en'].apply(clean_string)

In [27]:
#left join world_heritage_sites and tentative_list
world_heritage_sites = world_heritage_sites.merge(tentative_list[['name_en', 'year_put_on_tentative_list']], how='left', left_on='name_en', right_on='name_en')

In [29]:
world_heritage_sites.to_csv('World Heritage Sites with tentative list.csv', index=False)

Testing code below

In [54]:
world_heritage_sites = pd.read_csv('World Heritage Sites.csv')
world_heritage_sites_with_tentative_list = pd.read_csv('World Heritage Sites with tentative list.csv')

In [55]:
#get total non null values in year_put_on_tentative_list
world_heritage_sites_with_tentative_list['year_put_on_tentative_list'].count()

440

In [56]:
#get unique values in year_put_on_tentative_list & count
world_heritage_sites_with_tentative_list['year_put_on_tentative_list'].value_counts()

1996.0    57
1995.0    42
1998.0    30
1999.0    21
2010.0    21
2005.0    20
2004.0    20
2001.0    18
2007.0    18
2006.0    16
2000.0    15
1997.0    15
1993.0    15
2012.0    14
2009.0    13
2015.0    12
2003.0    12
1990.0    10
2008.0    10
2002.0     9
1994.0     9
2011.0     8
1992.0     7
2013.0     6
1991.0     5
2017.0     5
2014.0     5
2016.0     3
2018.0     2
1989.0     1
1984.0     1
Name: year_put_on_tentative_list, dtype: int64

In [53]:
#unique values in unique_number
world_heritage_sites_with_tentative_list['unique_number'].value_counts()

2047    1
605     1
2171    1
595     1
2287    1
       ..
1234    1
221     1
1231    1
1229    1
2048    1
Name: unique_number, Length: 1150, dtype: int64

In [57]:
world_heritage_sites['unique_number'].value_counts()

2047    1
405     1
2171    1
595     1
2287    1
       ..
1254    1
1256    1
1259    1
1262    1
2048    1
Name: unique_number, Length: 1154, dtype: int64

In [58]:
#Join column year_put_on_tentative_list from world_heritage_sites_with_tentative_list to world_heritage_sites where unique_number is equal to unique_number
world_heritage_sites = world_heritage_sites.merge(world_heritage_sites_with_tentative_list[['unique_number', 'year_put_on_tentative_list']], how='left', left_on='unique_number', right_on='unique_number')

In [60]:
world_heritage_sites.to_csv('World Heritage Sites with tentative list - final.csv', index=False)